table.cryptocurrency {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

}
table.cryptocurrency caption {

    margin: .5em 0 .75em;
}
table.cryptocurrency tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table.cryptocurrency th,
table.cryptocurrency td {
    padding: .625em;
    text-align: right;
}

table.cryptocurrency th.text-left,
table.cryptocurrency td.text-left {
    text-align:left;

}

@media screen and (max-width: 600px) {
    table.cryptocurrency th.text-left,
    table.cryptocurrency td.text-left {

        text-align: right;
    }
}
table.cryptocurrency th {

    letter-spacing: .1em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    table.cryptocurrency {
        border: 0;
    }
    table.cryptocurrency caption {

    }
    table.cryptocurrency thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table.cryptocurrency tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table.cryptocurrency td {
        border-bottom: 1px solid #ddd;
        display: block;

        text-align: right;
    }
    table.cryptocurrency td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table.cryptocurrency td:last-child {
        border-bottom: 0;
    }
}